{% extends 'client/base.html' %} {%load static%} {% block title%} My Portfolio
{%endblock%} {% block head%}
<!-- for toggle button -->

{%endblock%} {% block body%}
  <div class="container p-3 mt-5 mw-sm" style="background: #fff; border-radius:15px;" >
    <h1>Create Order</h1>
    <form method="post" action="{% url 'create_order' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="amount" class="form-label">Budget</label>
        <input type="number" class="form-control" id="amount" name="budget" required>
      </div>

      <div class="mb-3">
        <label for="task" class="form-label">Task</label>
        <input type="text" class="form-control" id="task" name="task" value="videographer" required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description"></textarea>
      </div>
      <div class="mb-3">
        <label for="deadline" class="form-label">Deadline</label>
        <input type="date" class="form-control" id="deadline" name="deadline" required>
      </div>
      <div class="mb-3">
        <label for="start_date" class="form-label">Start Date</label>
        <input type="date" class="form-control" id="start_date" name="start_date" required>
      </div>
      <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <input type="text" class="form-control" id="role" name="role" value="videographer" required>
      </div>
      <button type="submit" class="btn btn-primary">Create Order</button>
    </form>
  </div>

{%endblock%}
