{% extends 'client/base.html' %} {%load static%} {% block title%} My Portfolio
{%endblock%} {% block head%}
<!-- for toggle button -->
<style>
    .button-container {
        position: relative;
        display: inline-block;
    }

    .plus-button {
        background-color: #ffffff;
        color: #2f174e;
        border: none;
        padding: 1px 10px;
        border-radius: 50%;
        cursor: pointer;
    }

    .plus-icon,
    .cross-icon {
        display: inline-block;
        font-size: 40px;
        line-height: 1;
    }
    .cross-icon {
        display: none;
    }

    .options-container {
        position: absolute;
        bottom: 100%;
        left: 0;
        background-color: #ffffff;
        padding: 10px;
        border: 1px solid #dddddd;
        border-radius: 5px;
        display: none;
    }

    .option {
        display: block;
        margin-bottom: 5px;
        padding: 5px 10px;
        border: none;
        background-color: #f2f2f2;
        color: #333333;
        cursor: pointer;
    }

    .option:hover {
        background-color: #e6e6e6;
    }

    /* Added styles */
    .active .plus-icon {
        display: none;
    }

    .active .cross-icon {
        display: inline-block;
    }

    .show {
        display: block;
    }
</style>
{%endblock%} {% block body%}

<div class="p-3">
    <div
        style="
            background-color: #442d61;
            color: #ffffff;
            border-radius: 10px;
            flex-direction: column;
        "
        class="d-flex align-items-center justify-content-center p-5">
        <div
            class="d-flex align-items-center justify-content-around"
            style="justify-content: space-between">
            <div>
                <img
                    src="../../media/{{freelancer.freelancer.image}}"
                    style="height: 50px; border-radius: 50%" />
                <b style="font-weight: 600; font-size: 24px">
                    {{freelancer.freelancer.name}}
                </b>
            </div>
            <b style="font-weight: 700; font-size: 40px">
                #0{{freelancer.rank}}</b
            >
        </div>
        <hr style="width: 80%; color: #cbdfeb; opacity: 1; height: 2px" />
        <div>{{freelancer.about}}</div>
    </div>
</div>

{%for i in portfolio%}
<!-- <div style="width: 100%; height: 500px"> -->
<div class="row h-100 mb-3 p-5">
    <div class="col-lg-8 p-0" style="height: 50vh">
        {% if i.is_image %}
        <img
            src="../../media/{{i.image}}"
            alt="..."
            class="img-fluid"
            style="width: 100%; height: 100%" />
        {% else %}
        <iframe
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/{{i.link}}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            style="width: 80%; height: 100%; margin: auto; display: block">
        </iframe>
        {% endif %}
    </div>
    <div class="col-lg-4 p-3">
        <div
            class="p-4"
            style="
                background: #2f174e;
                border-radius: 60px;
                height: 100%;
                color: #fff;
            ">
            <!-- FOR : {{i.forclient}}<br /><br />
            AS : Writer<br /><br />
            IN : April 2020<br /><br />
            WITH :<br />
            @Shubhamkumar212 as Co-Writer<br />
            @HemantShahh as Editor<br />
            @GauravSharma01 as Videographer<br /><br />
            Client's Review:<br />
            Couldn't be happier with the results. They brought a fresh and
            creative approach that truly captured the essence of my brand.
            Highly recommend! -->
            <table
                class="table"
                style="
                    color: #fff;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                ">
                <tbody>
                    <tr>
                        <th scope="row">FOR</th>
                        <td>{{i.forclient}}</td>
                    </tr>
                    <tr>
                        <th scope="row">AS</th>
                        <td>{{i.role}}</td>
                    </tr>
                    <tr>
                        <th scope="row">IN</th>
                        <td colspan="2">{{i.date}}</td>
                    </tr>
                    <tr>
                        <th scope="row">With</th>
                        <td
                            colspan="2"
                            style="font-size: 14px; font-weight: 400">
                            @Shubhamkumar212 as Co-Writer<br />
                            @HemantShahh as Editor
                        </td>
                    </tr>
                    <tr>
                        <td>REVIEW</td>
                    </tr>
                    <tr>
                        <td
                            colspan="2"
                            style="
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 17px;
                            ">
                            {{i.review}}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endfor%}

<div
    class="button-container"
    style="position: fixed; bottom: 20px; right: 20px">
    <div id="options" class="options-container">
        <button class="option">Option 1</button>
        <button class="option">Option 2</button>
    </div>
    <button id="toggle-button" class="plus-button">
        <span class="plus-icon">+</span>
        <span class="cross-icon">x</span>
    </button>
</div>

<script>
    const toggleButton = document.getElementById("toggle-button");
    const optionsContainer = document.getElementById("options");

    toggleButton.addEventListener("click", function () {
        toggleButton.classList.toggle("active");
        optionsContainer.classList.toggle("show");
    });
</script>
{%endblock%}
